# requirements.txt

asgiref
certifi
charset-normalizer
Django
django-rest-framework
django-stubs
django-stubs-ext
djangorestframework
djangorestframework-stubs
idna
mypy
mypy-extensions
paho-mqtt
requests
sqlparse
types-PyYAML
types-requests
typing_extensions
tzdata
urllib3
Pillow
channels
keyboard
