<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Aplikacja aukcyjna</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="main">
      <h1>Aplikacja aukcyjna</h1>
      <ul>
        <li>
          <a class="blue-button" href="{% url 'auction_list' %}">View Auctions</a>
        </li>
        <li>
          <a class="blue-button" href="{% url 'article_list' %}">View Articles</a>
        </li>
        <li>
          <a class="blue-button" href="{% url 'user_list' %}">View Users</a>
        </li>
        <li>
          <a class="blue-button" href="{% url 'wallet_list' %}">View Wallets</a>
        </li>
           <li>
          <a class="blue-button" href="{% url 'user_wins' %}">View User Wins</a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="green-button" href="{% url 'create_auction' %}">Create Auction</a>
        </li>
        <li>
          <a class="green-button" href="{% url 'create_article' %}">Create Article</a>
        </li>
        <li>
          <a class="green-button" href="{% url 'create_user' %}">Create User</a>
        </li>
        <li>
          <a class="green-button" href="{% url 'create_wallet' %}">Create Wallet</a>
        </li>

      </ul>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
